body
{
    position: relative; 
    background: #E5E5E5;
    height: 100%;
}
H1
{
    color:black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;  
    display: flex;
    align-items: center;
    text-align: center;
}
.com1 , .com2
{
    font-size: 14px;
    color:red;
    margin: -1%;
    padding: 0px 20px;
}
.open
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    width: 340px;
    height: 390px;
    margin: 8% auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.open_forma
{
    margin: 0% auto;
}

.open  input[type="text"]
{ 
    box-sizing: border-box;
    margin: 0% auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    width: 340px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.open  input[type="password"]
{ 
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    width: 340px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px; 
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
img
{
    width: 132px;
    height: 132px;
    margin: 0% auto;
}
.open  input[type="submit"]
{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    width: 352px;
    height: 48px;
    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px; 
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    color: #FFFFFF;
    border: 0px solid #DCDCDF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.open input[type="submit"]:hover{
    background-color: rgba(47, 218, 175, 0.438);
    color: #373745;
    cursor: pointer;
}

.open a
{
    margin: 3% ;  
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: #000;
    text-decoration: none;  
    font-size: 16px; 
}