<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <title>Крестики-Нолики.Авторизация</title>
        <!-- <link rel="stylesheet" href="../css/main.css"> -->
    </head>
    <style>
        body
        {
            position: relative; 
            background: #E5E5E5;
            height: 100%;
        }
        H1
        {
            color:black;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;  
            display: flex;
            align-items: center;
            text-align: center;
        }
        .com1 , .com2
        {
            font-size: 14px;
            color:red;
            margin: -1%;
            padding: 0px 20px;
        }
        .open
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 24px;
            width: 340px;
            height: 390px;
            margin: 8% auto;
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
            border-radius: 16px;
        }

        .open_forma
        {
            margin: 0% auto;
        }

        .open  input[type="text"]
        { 
            box-sizing: border-box;
            margin: 0% auto;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 12px 20px;
            gap: 8px;
            width: 340px;
            height: 48px;
            background: #FFFFFF;
            border: 1px solid #DCDCDF;
            border-radius: 12px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }

        .open  input[type="password"]
        { 
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 12px 20px;
            gap: 8px;
            width: 340px;
            height: 48px;
            background: #FFFFFF;
            border: 1px solid #DCDCDF;
            border-radius: 12px; 
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }
        img
        {
            width: 132px;
            height: 132px;
            margin: 0% auto;
        }
        .open  input[type="submit"]
        { 
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding: 12px 20px;
            gap: 8px;
            width: 352px;
            height: 48px;
            background: rgba(96, 194, 170, 0.3);
            border-radius: 12px; 
            flex: none;
            order: 3;
            align-self: stretch;
            flex-grow: 0;
            color: #FFFFFF;
            border: 0px solid #DCDCDF;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
        }
        .open input[type="submit"]:hover{
            background-color: rgba(47, 218, 175, 0.438);
            color: #373745;
            cursor: pointer;
        }

        .open a
        {
            margin: 3% ;  
            justify-content: center;
            display: flex;
            flex-direction: row;
            color: #000;
            text-decoration: none;  
            font-size: 16px; 
        }        
    </style>
    <body oncopy="return false;">
        <div class="open">
            <img src="../imgs/dog.png">  
            <H1>Войдите в игру</H1>  
            <form method="POST" action="" class="form" id="forma_open">
                <div class="open_forma">
                    <p> <input type="text" class="login_text" name="login" placeholder="Логин"> </p>  
                    <p class="com1"></p>
                    <p> <input type="password"  class="password_text"  name="password" placeholder="Пароль" ></p>
                    <p class="com2"></p>
                    <input class="open_but" type="submit" value="Войти" name="log_in">   
                </div>                
            </form>
            <div class="data">
                <% accs.forEach(function(acc){%>
                    <div class="data_elements" style="display: none;">
                        <p class="info_login" data-login="<%=acc.login%>"></p>
                        <p class="info_password" data-password="<%=acc.password%>"></p>
                    </div>
                <%})%>
            </div>
        </div>
        <!-- <script defer src="../js/main.js"></script> -->
        <script>
            const open_btn=document.querySelector(".open_but");
            const login_texts=document.querySelector(".login_text");
            const password_texts=document.querySelector(".password_text");
            const login_open=document.querySelectorAll(".info_login");
            const password_open=document.querySelectorAll(".info_password");            
            const arr_passwords=[];
            const arr_logins=[];
            const arr_accounts=[];
            login_open.forEach(loginInner=>
                {
                    arr_logins.push(loginInner.dataset.login);
                })
            password_open.forEach(passwordInner=>
                {
                    arr_passwords.push(passwordInner.dataset.password);
                })
            open_btn.addEventListener("click",(e)=>
            {
                e.preventDefault();
                if(VerificAccounts(login_texts.value,password_texts.value))
                {
                    window.location.href = 'top';
                }
                else
                {
                    alert("Пользователь не найден!");
                }
            })
         
            function VerificAccounts(login,password)
            {
                for(let i=0;i<arr_logins.length;i++)
                {
                    if(arr_logins[i]==login && password==arr_passwords[i])
                    {
                        return true;
                    }
                }
                return false;
            }
         </script>
    </body>
</html>