body
{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    background: #F6F6F6;    
    font-family: 'Roboto';
}

header
{ 
    width: -webkit-fill-available;
    height: 64px;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

.head_au
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700; 
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center; 
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 71.5px;
    height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

nav
{
    margin: 0% auto;
    height: 70px;    
}  

.menu   
{
    height: 70px; 
    margin: 3% 0%; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: auto;
    height: 25px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu li
{
    float: left;
    display: block; 
    margin-right: 41px; 
}
    
.menu a
{
    color: #373745;
    text-decoration: none;  
    font-size: 16px;
} 

.li_go
{
    margin-top: -0.7%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px; 
    background: #60C2AA;
    border-radius: 200px;
    flex: none;
    order: 0;
    flex-grow: 0; 
}

#li_go    
{
    font-style: normal;
    font-size: 16px;
    line-height: 24px; 
    align-items: center;
    letter-spacing: 0.24px;
    color: #FFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
 

.block_top
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 44px;
    position: absolute;
    width: 1026px;
    height: 856px;
    top: 144px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.block_top  h1
{
    height: 36px; 
    margin: 0%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%; 
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;
    flex: none;
    order: 0;
    flex-grow: 0;
}

button
{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

table
{
    width: 962px;
    box-sizing: border-box;
    border-spacing: 10px;
}

tr
{
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

td
{    
    height: 24px;
    padding: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    align-items: start;
    letter-spacing: 0.24px;
    color: #373745;
}

th 
{
    font-style: normal;
    text-align: left; 
    padding: 7px;
} 
#rows
{
    box-sizing: border-box;
    width: 108px;
    text-align: start;
}
#row_fio
{
    box-sizing: border-box;
    width: 440px;
    text-align: start;
}

.winner
{
    color: #69B849;
}

.lose
{
    color: #E93E3E;
}