<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <title>Крестики-Нолики:Рейтинг</title> 
    </head>
    <style>
        body
        { 
            margin: 0;
            padding: 0;
            justify-content: center;
            background: #F6F6F6;    
            font-family: 'Roboto';
        }

        header
        { 
            width: -webkit-fill-available;
            height: 64px;
            left: 0;
            top: 0;
            box-sizing: border-box;
            background: #FFFFFF;
            box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
            border-radius: 0px 0px 16px 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 16px 40px;
            gap: 10px;
        }

        .head_au
        {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700; 
            line-height: 150%;
            display: flex;
            align-items: center;
            text-align: center; 
        }

        #logo
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 4px;
            width: 71.5px;
            height: 25px;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        nav
        {
            margin: 0% auto;
            height: 70px;    
        }  

        .menu   
        {
            height: 70px; 
            margin: 3% 0%; 
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 16px;
            width: auto;
            height: 25px;
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .menu li
        {
            float: left;
            display: block; 
            margin-right: 41px; 
        }
            
        .menu a
        {
            font-weight: 500;
            color: #373745;
            text-decoration: none;  
            font-size: 16px;
        } 

        .li_go
        {
            margin-top: -0.7%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 4px 12px;
            gap: 10px; 
            background: #60C2AA;
            border-radius: 200px;
            flex: none;
            order: 0;
            flex-grow: 0; 
        }

        #li_go    
        {
            font-style: normal;
            font-size: 16px;
            line-height: 24px; 
            align-items: center;
            letter-spacing: 0.24px;
            color: #FFF;
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        
        #main-container {
            margin-top: 30px;
            padding: 50px 20px;
            display: flex;
            justify-content: space-between;
        }

        #subject-list {
            display: flex;
            height: fit-content;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            gap: 24px;
            box-sizing: border-box;
            width: 420px;
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
            border-radius: 20px;
        }

        #subject-list h1 { 
            font-weight: 700;
            font-size: 24px;
            line-height: 150%; 
            color: #373745;
            margin: 0;
        }

        #subject-list > .container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 20px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
        }

        #subject-list > .container > .subject-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 12px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }

        #subject-list .subject-name { 
            font-weight: 400;
            font-size: 20px;
            line-height: 24px; 
            letter-spacing: 0.15px; 
            color: #373745;
        }

        #subject-list .subject-percent { 
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #898993;
        }

        #subject-list .subject-icon {
            width: 24px;
            height: 24px;
        }

        #subject-list .subject-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 4px;
        }

        #game-container {
            width: 653px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-content: center;
            align-items: center;
            justify-content: center;
        }

        #game-time {
            width: fit-content;
            padding: 24px;
            background: #EDEDED;
            border-radius: 12px;
            font-style: normal;
            font-weight: 900;
            font-size: 34px;
            line-height: 40px;
            letter-spacing: 0.25px;
            color: #373745;
        }

        #game-board {
            box-sizing: border-box;
            width: 635px;
            height: 635px;
            display: grid;
            grid-template-columns: repeat(3, 209px);
            align-items: start;
            gap: 4px;
            filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
        }

        #game-board .cell {
            height: 100%;
            padding: 0;
            background: #FFFFFF;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #game-step {
            width: 400px;
            padding: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #373745;
            box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
            border-radius: 12px;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
        }

        #chat-container {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            padding: 0px;
            margin-bottom: 88px;
            gap: 20px;
            width: 412px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.24px;
            color: #373745;
        }

        .msgs-container {
            display: flex;
            flex-direction: column;
            padding: 0px;
            gap: 12px;
        }

        .msg-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 12px;
            gap: 8px;
            width: 352px;
            box-sizing: border-box;
            background: #FFFFFF;
            box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
        }

        .msg-container.other {
            align-self: flex-start;
            border-radius: 16px 16px 16px 0px;
        }

        .msg-container.me {
            align-self: flex-end;
            border-radius: 16px 16px 0px 16px;
        }

        .msg-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            width: -webkit-fill-available;
        }

        .subject-name {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
        }

        .subject-name.x {
            color: #60C2AA;
        }
        .subject-name.zero {
            color: #E38BAC;
        }

        .msg-header .time { 
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #898993;
        }

        .msg-interactive-elements {
            display: flex;
            flex-direction: row;
            padding: 0px;
            gap: 12px;
            width: -webkit-fill-available;
        }

        .msg-interactive-elements button {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 12px;
            gap: 8px;
            width: 48px;
            height: 48px;
            background: #60C2AA;
            border-radius: 12px;
        }

        .msg-interactive-elements textarea {
            resize: none;
            width: -webkit-fill-available;
            height: 48px;
            max-height: max-content;
            overflow: hidden;
            box-sizing: border-box;
            padding: 12px 20px;
            gap: 8px;
            background: #FFFFFF;
            border: 1px solid #DCDCDF;
            border-radius: 12px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.24px;
            color: #373745;
        }

        .head_au
        {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            display: flex;
            align-items: center;
            text-align: center;
            color: #373745;
        }
    </style>
    <body>
        <header>
            <div id="logo">
                <img src="imgs/s-logo.svg">
            </div>
            <nav>
                <ul class = "menu">
                    <li class="li_go">
                        <a  id="li_go" href="game"> Игровое поле </a>
                    </li>
                    <li>
                        <a href="top">Рейтинг</a>
                    </li>
                    <li>
                        <a href="">История игр</a>
                    </li>
                    <li>
                        <a href="">Список игроков</a>
                    </li>
                    <li>
                        <a href="">Личный кабинет</a>
                    </li>                    
                </ul>
            </nav>
            <button>
                <img src="../imgs/exit.svg">
            </button> 
        </header>
        <div id="main-container">
            <div id="subject-list">
                <h1>Игроки</h1>
                <div class="container">
                    <div class="subject-container">
                        <div><img class="subject-icon" src="../imgs/zero.svg"/></div>
                        <div class="subject-info">
                            <div class="subject-name">Пупкин Владелен Игоревич</div>
                            <div class="subject-percent">63% побед</div>
                        </div>
                    </div>
                    <div class="subject-container">
                        <div><img class="subject-icon" src="../imgs/x.svg"/></div>
                        <div class="subject-info">
                            <div class="subject-name">Плюшкина Екатерина Викторовна</div>
                            <div class="subject-percent">23% побед</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="game-container">
                <div id="game-time">05:12</div>
                <div id="game-board">
                    <div id="cell0" class="cell"></div>
                    <div id="cell1" class="cell"></div>
                    <div id="cell2" class="cell"></div>
                    <div id="cell3" class="cell"></div>
                    <div id="cell4" class="cell"></div>
                    <div id="cell5" class="cell"></div>
                    <div id="cell6" class="cell"></div>
                    <div id="cell7" class="cell"></div>
                    <div id="cell8" class="cell"></div>
                </div>
                <div id="game-step">Ходит&nbsp;<img src="../imgs/x.svg"/>&nbsp;Екатерина Плюшкина</div>
            </div>
            <div id="chat-container">
                <div class="msgs-container">
                    <div class="msg-container other">
                        <div class="msg-header">
                            <div class="subject-name x">Плюшкина Екатерина</div>
                            <div class="time">13:40</div>
                        </div>
                        <div class="msg-body">Ну что, готовься к поражению!!1</div>
                    </div>
                    <div class="msg-container me">
                        <div class="msg-header">
                            <div class="subject-name zero">Пупкин Владлен</div>
                            <div class="time">13:41</div>
                        </div>
                        <div class="msg-body">Надо было играть за крестики. Розовый — мой не самый счастливый цвет</div>
                    </div>
                    <div class="msg-container me">
                        <div class="msg-header">
                            <div class="subject-name zero">Пупкин Владлен</div>
                            <div class="time">13:45</div>
                        </div>
                        <div class="msg-body">Я туплю...</div>
                    </div>
                    <div class="msg-container other">
                        <div class="msg-header">
                            <div class="subject-name x">Плюшкина Екатерина</div>
                            <div class="time">13:47</div>
                        </div>
                        <div class="msg-body">Отойду пока кофе попить, напиши в тг как сходишь</div>
                    </div>
                </div>
                <div class="msg-interactive-elements">
                    <textarea placeholder="Сообщение..."></textarea>
                    <button><img src="../imgs/send-btn.svg"></button>
                </div>
            </div>
        </div>
    </body>
</html>    