* {
  font-family: 'Roboto', sans-serif;
  font-style: normal; 
  color: #373745;
}

.App 
{
  width: 100%;
}

#root 
{
  width: 100%;
}

html 
{
  height: 100%;
  width: 100%;
}
.main_auth 
{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.h1_auth 
{ 
  box-sizing:  content-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #373745;
}

.err_text 
{
  font-size: 12px;
  padding: 0;
  line-height: 16px;
  color:#e93e3e; 
}

#modal_auth
{
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
}

.addmodal_back::before
{
  content: '';
	background: #000;
	position: absolute; 
	left: -70%;
	top: -21%;
	width: 229%; 
	height: 120%;
	opacity: 0.7; 
}

.modal_back:before 
{
	content: '';
	background: #000;
	position: absolute; 
	left: -72%;
	top: -47%;
	width: 241%; 
	height: 173%;
	opacity: 0.7; 
}

.popup_modalwindow
{
  position: fixed;
  top: 132px;
  left: 132px;
  min-width: 320px;
  background: #FFFFFF;
  font-weight: 700; 
  padding: 40px;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.addplayer_modal 
{
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  min-width: 320px;
  background: #FFFFFF;
  font-weight: 700; 
  padding: 24px;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.row_selection 
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 352px;
  height: 80px;
}

.set_radiobtn_gender 
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 104px;
  height: 48px;
}

.radiobtn
{ 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid #DCDCDF;
  background: #FFFFFF;
  border-radius: 1000px;
}

.radiobtn_checked 
{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 50px;
  height: 50px;
  background: #60C2AA;
  border-radius: 1000px;
}

.close_row
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 352px;
  height: 24px; 
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.dataset 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  font-weight: 500;
  width: 352px;
  height: 80px;
}

.row_listgames 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 1010px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #EEEFF5;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header_listgames 
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 0px;
  gap: 16px;
  justify-content: space-between;
  width: 1010px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #EEEFF5;
  box-sizing: border-box; 
}

.players_role 
{
  width: 16px;
  height: 16px;
}

#active_players 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  padding-bottom: 44px;
  position: absolute;
  left: calc(50% - 781px/2);
  top: 144px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
}

#list_players 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  padding-bottom: 44px;
  position: absolute;
  left: calc(50% - 1416px/2);
  top: 144px; 
  background: #FFFFFF; 
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
}

#list_games   
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 8px;
    height: 792px;
    position: absolute;
    left: calc(50% - 1074px/2);
    top: 144px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.switchActive 
{
  width: 195px;
  height: 24px;
  gap: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: baseline;
  align-content: center;
  letter-spacing: 0.24px;  
  color: #373745; 
  flex: none;
  order: 1;
  flex-grow: 0;
}

.toggle 
{
  width: 40px;
  height: 36px;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24px;
  color: #373745; 
}

.header_listplayers 
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 0px;
  gap: 16px;
  width: 1352px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #EEEFF5;
  box-sizing: border-box;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.rivals 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  width: 678px;
  height: 48px;
}

.row_listplayers 
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  align-items: center;
  width: 1352px;
  height: 64px; 
  background: #FFFFFF; 
  box-shadow: inset 0px -1px 0px #EEEFF5;
  flex: none;
  order: 0;
  flex-grow: 0;
}
  
.first_column
{
  box-sizing: border-box;
  width: 440px;
  text-align: start;
}

.half_column
{
  box-sizing: border-box;
  width: 46px;
  text-align: start;
}

.middle_columns 
{
  box-sizing: border-box;
  width: 160px;
  text-align: start; 
}

.last_columns 
{
  box-sizing: border-box;
  width: 190px;
  text-align: start;
}

.first_col
{
  box-sizing: border-box;
  width: 440px;
  text-align: start;
  display: flex;
  align-items: center; 
}

.half_col
{
  box-sizing: border-box;
  width: 46px;
  text-align: start;
  display: flex;
  align-items: center;
}

.middle_col 
{
  box-sizing: border-box;
  width: 160px;
  text-align: start;
  display: flex;
  align-items: center; 
}

.players_columns
{
  box-sizing: border-box;
  text-align: start;
  display: flex;
  min-width: 225px;
  align-items: center; 
  gap: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
}

.middle_col 
{
  box-sizing: border-box;
  width: 160px;
  text-align: start;
  display: flex;
  align-items: center; 
}

#active_header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  gap: 10px;
  color: #373745;
  width: 717px;
  height: 36px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.mainbutton 
{
  display: flex;
  flex-direction: row;
  padding: 12px 20px;
  gap: 8px;
  width: 121px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.24px;
  color: #FFFFFF;
  background: #60C2AA;
  border-radius: 12px;
}

.additionalbutton 
{
  display: flex;
  flex-direction: row;
  padding: 12px 20px;
  gap: 8px;
  width: 121px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.24px;
  color: #898993;
  background: #F7F7F7;
  border-radius: 12px;
}

.block_right 
{ 
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 80px;
  width: 341px;
  height: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
}


.label_toggle
{
  position: relative;
  display: inline-block;
  width: 33px;
  height: 14px;
}

.label_toggle> input 
{
    display: none;
}

.togglebtn
{
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  background-color: #DCDCDF;
  transition: 0.4s;
  border-radius: 15px;
}

.togglebtn:before 
{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    align-content: center;
    background-color: #F7F7F7;
    transition: 0.2s;
    border-radius:50%;
}

.point
{
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  inset: 0px;
  background-color: rgb(220, 220, 223);
  transition: all 0.4s ease 0s;
  border-radius: 15px;
}

.point:before
{
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  align-content: center;
  background-color: rgb(247, 247, 247);
  transition: all 0.2s ease 0s;
  border-radius: 50%;
}

.togglebtn:checked + .circle_toggle
{
  background-color: rgb(96, 194, 170);
}

.togglebtn:checked + .circle_toggle::before
{
  transform: translateX(15px);
  background-color: rgb(59, 161, 137);
}

.status_freedom 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
  background: #A8D37F;
  border-radius: 6px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #FFFFFF;
}

.status_borrow 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
  background: #87CAE8;
  border-radius: 6px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px; 
  color: #FFFFFF;
}

.status_blocked 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 32px;
  background: #EC7777;
  border-radius: 6px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;  
  color: #FFFFFF;
}

.status_active
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 32px;
  background: #A8D37F;
  border-radius: 6px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;    
  color: #FFFFFF;
}

.status_blockbtn
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0 19px;
  height: 40px;
  line-height: 100%;
  margin-top: 12px;
  justify-content: center;
  background: #F7F7F7;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.img_block 
{
  width: 20px;
  height: 20px;
  line-height: 24px;
}

.button_block 
{
  display: flex;
  align-items: center;
  gap: 10px;
}

.status_unblockbtn
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0 25px;
  height: 40px;
  line-height: 100%;
  margin-top: 12px;
  background: #F7F7F7;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.activ_row 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 717px;
  height: 72px;
  background: #FFFFFF;
  justify-content: space-between;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.name_of_activeplayer 
{
  width: 360px;
}

.tableof_activeplayers 
{
  gap: 0px;
}

h2 
{
  font-weight: 700;
  line-height: 36px;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

#form_auth 
{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input_field_text, .login_text, .password_text
{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 20px;
  width: 352px;
  height: 48px;
  font-weight: 400;
  background: #FFFFFF;
  border: 1px solid #DCDCDF;
  border-radius: 12px;
}

.log_in, .add, .open_newgame, .close_modalwin
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 352px;
  height: 48px;
  margin-top: 8px;
  background: rgba(96, 194, 170, 0.3);
  border-radius: 12px;
  border: 0px solid #DCDCDF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.log_in:hover, .add:hover, .open_newgame:hover, .close_modalwin:hover
{
  background-color: rgba(47, 218, 175, 0.438);
  color: #373745;
  cursor: pointer;
}   

body 
{
  display: flex;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
}

header 
{
  position: absolute;
  width: 100%;
  height: 64px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0px 0px 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
}

button 
{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.nav 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 16px;
  height: 32px; 
  flex: none;
  flex-grow: 0; 
}

ul 
{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.nav a
{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.active 
{
  color: white;
}

.nav li 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 10px;
  flex: none;
  flex-grow: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.24px;
  color: #373745;
}

.nav .active 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 10px;
  background: #60C2AA;
  border-radius: 200px;
  color: white;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#main-container 
{
  height: 100%;
  margin-top: 25%;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
}

#subject-list 
{
  /* display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  box-sizing: border-box;
  width: 500px;
  position: relative;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 20px; */

  display: flex;
            height: fit-content;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            gap: 20px;
            box-sizing: border-box;
            width: 420px;
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
            border-radius: 20px;
}

#subject-list h1 
{
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #373745;
  margin: 0;
}

#subject-list>.container 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#subject-list>.container>.subject-container 
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#subject-list .subject-name 
{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #373745;
}

#subject-list .subject-percent 
{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #898993;
}

#subject-list .subject-icon 
{
  width: 24px;
  height: 24px;
}

#subject-list .subject-info 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

#game-container 
{
  width: 663px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-content: center;
  align-items: center;
  justify-content: center
}

#game-time 
{
  width: fit-content;
  padding: 24px;
  background: #EDEDED;
  border-radius: 12px; 
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px; 
  letter-spacing: 0.25px; 
  color: #373745;
}

#game-board 
{
  box-sizing: border-box;
  width: 635px;
  height: 635px;
  display: grid;
  grid-template-columns: repeat(3, 209px);
  align-items: start;
  gap: 4px;
  filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
}

#game-board .cell {
  height: 209px;
  padding: 0;
  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-step {
  width: 400px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #373745;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}

#chat-container 
{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 0px;
  margin-bottom: 88px;
  gap: 20px;
  width: 412px; 
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #373745;
}

.msgs-container 
{
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
}

.msg-container 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
  width: 352px;
  box-sizing: border-box; 
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.other 
{
  align-self: flex-start;
  border-radius: 16px 16px 16px 0px;
}

.msg-container.me 
{
  align-self: flex-end;
  border-radius: 16px 16px 0px 16px;
}

.msg-header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: -webkit-fill-available;
}

.subject-name 
{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.subject-name.x 
{
  color: #60C2AA;
}

.subject-name.zero 
{
  color: #E38BAC;
}

.msg-header .time 
{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #898993;
}

.msg-interactive-elements 
{
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 12px;
  width: -webkit-fill-available;
}

.msg-interactive-elements button
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
  width: 48px;
  height: 48px;
  background: #60C2AA;
  border-radius: 12px;
}

.msg-interactive-elements textarea 
{
  resize: none;
  width: -webkit-fill-available;
  height: 48px;
  max-height: max-content;
  overflow: hidden;
  box-sizing: border-box;
  padding: 12px 20px;
  gap: 8px;
  background: #FFFFFF;
  border: 1px solid #DCDCDF;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #373745;
}

.body_rating {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%; 
  justify-content: center;
  background: #F6F6F6;
}

.header_rating 
{
  position: fixed;
  width: -webkit-fill-available;
  height: 64px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0px 0px 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
}

#rating 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 32px 44px;
  position: relative;
  width: 1026px;
  height: 856px;
  top: 210px;
  box-sizing: border-box; 
  background: #FFFFFF; 
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
}

table 
{
  width: 962px;
  box-sizing: border-box;
  border-spacing: 10px;  
}
#h1_rating
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #373745;
  line-height: 150%;
}

th {
  box-sizing: border-box;
  height: 24px;
  padding: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: start;
  text-align: center;
  letter-spacing: 0.24px;
  color: #373745;
}

td 
{ 
  height: 24px; 
  padding: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 24px; 
  align-items: start;
  letter-spacing: 0.24px;
  color: #373745;
}
.col_first
{
  box-sizing: border-box;
  width: 440px;
  text-align: start;
}

.col_middle 
{
  box-sizing: border-box;
  width: 108px;
  text-align: start; 
}

.col_green
{
  box-sizing: border-box;
  width: 108px;
  text-align: start;
  color:#69B849;
}

.col_red
{
  box-sizing: border-box;
  width: 108px;
  text-align: start;
  color:#E93E3E;
}

.col_last 
{
  box-sizing: border-box;
  width: 134px;
  text-align: start;
}

#chat-container {
  box-sizing: border-box;
  flex: inherit;
  /* margin-bottom: 130px; */
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 58px;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0px 0px;
  gap: 20px;
  width: 412px;
  height: 851px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #373745;
}

.msgs-container {
  box-sizing: border-box;
  /*height: 384px;*/
  width: 412px;
  display: flex;
  flex-direction: column;
  padding: 75px 0 0;
  gap: 12px;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
}

.no-messages {
  position: absolute;
  width: 155px;
  height: 24px;
  left: 129px;
  top: 739px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  letter-spacing: 0.24px;

  color: #898993;
}

.msgs-container::-webkit-scrollbar {
  width: 7px;
  height: 30px;
}

.msgs-container::-webkit-scrollbar-track {
  background-color: rgba(246, 246, 246, 1);
}

.msgs-container::-webkit-scrollbar-thumb {
  background-color: #60C2AA ;
  border-radius: 100vw;
}

.msgs-container::-webkit-scrollbar:hover {
  background-color: blue;
}

.disappear-up {
  position: absolute;
  width: 412px;
  height: 100px;
  /*left: 0px;*/
  top: 0px;

  background: linear-gradient(180deg, #F6F6F6 37.38%, rgba(255, 255, 255, 0) 100%);
}

.disappear-down {
  position: absolute;
  height: 32px;
  left: 0;
  right: 0;
  bottom: 48px;

  background: linear-gradient(180deg, #F6F6F6 37.38%, rgba(255, 255, 255, 0) 100%);
  transform: rotate(-180deg);
}

.disappear-up.unseen {
  display: none;
}

.fade-down.unseen {
  display: none;
}

.msg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
  max-width: 352px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.other {
  box-sizing: border-box;
  align-self: flex-start;
  border-radius: 16px 16px 16px 0px;
  width: 352px;
}

.msg-container.me {
  box-sizing: border-box;
  align-self: flex-end;
  border-radius: 16px 16px 0px 16px;
  width: 352px;
}

.msg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.subject-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.subject-name.x {
  color: #60C2AA;
}

.subject-name.zero {
  color: #E38BAC;
}

.msg-header .time {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #898993;
}

.msg-interactive-elements {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0px 0px;
  gap: 12px;
  width: 100%;
  height: 48px;
}

.msg-interactive-elements button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
  width: 48px;
  height: 48px;
  background: #60C2AA;
  border-radius: 12px;
}

.msg-interactive-elements textarea {
  resize: none;
  width: 352px;
  height: 48px;
  max-height: max-content;
  overflow: hidden;
  box-sizing: border-box;
  padding: 12px 20px;
  gap: 8px;
  background: #FFFFFF;
  border: 1px solid #DCDCDF;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #373745;
}